
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - My Website</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="site-name">
            My Website
        </div>
        <nav>
            <ul class="menu">
                <li><a href="/">Anasayfa</a></li>
                
               @await Component.InvokeAsync("CategoryMenu")
                <li><a href="Blog">Bloglar</a></li>
                <li><a href="Author">Yazarlar</a></li>
                <li><a href="@Url.Action("Account", "Account" )">Hesap</a></li>
                <li><a href="/Account/Logout">Çıkış Yap</a></li>
            </ul>
        </nav>
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
</body>
</html>
